@model Renter
@if (Model == null)
{
    <div>No information available</div>
}
else
{
<div class="container">
    <h3>Renter Details: </h3>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>Name: @Model.Name</td>
        </tr>
        <tr>
            <td>Address: @Model.Address</td>
        </tr>
        <tr>
            <td>Contact : @Model.ContactNumber</td>
        </tr>
        <tr>
            <td>Seeking Asset: @Model.SeekedAsset.ToString()</td>
        </tr>
        <tr>
            <td>Description: @Model.Description</td>
        </tr>
        @if (Model.Found.HasValue && Model.Found.Value == true) {
        <tr>
            <td>
                Rent Status:  Rented at @(Model.FoundDate.HasValue
                    ? Model.FoundDate.Value.ToShortDateString() : "N/A" )
            </td>
        </tr>
        }
        <tr>
            <td>
                <vc:active-transactions id="@((int)Model.ID)" is-renter="true" />
            </td>
        </tr>
    </table>
</div>
}