@model IEnumerable<Renter>
    <div class="bg-dark text-white text-center p-2">
        <span class="navbar-brand text-center">Past Renters</span>
        <a class="btn btn-light float-right" asp-action="Index">Active Renters</a>
    </div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Seeked Asset</th>
            <th>Details</th>
            <th>Found Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var renter in Model)
        {
            <tr>
                <td>@renter.Name</td>
                <td>@renter.Address</td>
                <td>@renter.ContactNumber</td>
                <td>@renter.SeekedAsset.ToString()</td>
                <td><a asp-action="Details" asp-route-id="@renter.ID">View Details</a></td>
                <td>
                    @(renter.FoundDate.HasValue ? renter.FoundDate.Value.ToShortDateString(): 
                    "N/A")
                </td>
            </tr>
        }
    </tbody>
</table>