@model Leaser
@if (Model == null)
{
    <h2>No information available.</h2>
    <a asp-action="Index">See All leasers</a>
}
else
{
    <div class="container" >
        <h3>Leaser Details: </h3>
        <table class="table table-sm table-striped table-bordered">
            <tr>
                <td>Name: @Model.Name</td>
            </tr>
            <tr>
                <td>Address: @Model.Address</td>
            </tr>
            <tr>
                <td>Contact : @Model.ContactNumber</td>
            </tr>
            <tr>
                <td>Asset Type : @Model.AssetInfo.Type.ToString()</td>
            </tr>
            <tr>
                <td>Asset Location: @Model.AssetInfo.Location</td>
            </tr>
            <tr>
                <td>Description: @Model.AssetInfo.Description</td>
            </tr>
            @if (Model.AssetInfo.IsLeased.HasValue && Model.AssetInfo.IsLeased.Value == true)
            {
                <td>Leased Status:  Leased at @(Model.AssetInfo.LeasedDate.HasValue ? 
                            Model.AssetInfo.LeasedDate.Value.ToShortDateString(): "N/A") </td>
            }
        </table>
    </div>
}