<h2>Past Leasers</h2>
@model IEnumerable<Leaser>
<div class="bg-dark text-white text-center p-2">
    <span class="navbar-brand ml-2">Past Leasers</span>
    <a class="btn btn-light float-right" asp-action="Index">Active Leasers</a>
</div>
<div>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Asset Type</th>
                <th>Leased Date
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var leaserInfo in Model)
            {
                <tr>
                    <td>@leaserInfo.Name</td>
                    <td>@leaserInfo.Address</td>
                    <td>@leaserInfo.AssetInfo.Type.ToString()</td>
                    <td>
                        @(leaserInfo.AssetInfo.LeasedDate.HasValue ?
                        leaserInfo.AssetInfo.LeasedDate.Value.ToShortDateString() : "N/A")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@leaserInfo.ID">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
