@model LeaserListViewModel
<div class="bg-dark text-white text-center p-2">
    <span class="navbar-brand ml-2">Active Leasers</span>
    <a class="btn btn-light float-right m-1" asp-action="History">History</a>
    <a class="btn btn-light float-right m-1" asp-action="Create">Add New Leaser</a>
</div>
    
<div class = "container-fluid">
    <div class="row">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Asset Type</th>
                    <th>Leased
                    <th />
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaserInfo in Model.Leasers)
                {
                    <tr>
                        <td>@leaserInfo.Name</td>
                        <td>@leaserInfo.Address</td>
                        <td>@leaserInfo.AssetInfo.Type.ToString()</td>
                        <td>
                            @(leaserInfo.AssetInfo.IsLeased.HasValue &&
                        leaserInfo.AssetInfo.IsLeased.Value == true
                        ? "Yes" : "No")
                        </td>
                        <td>
                            <span>
                                <a asp-action="Details" asp-route-id="@leaserInfo.ID">View</a>
                                <a asp-action="EditDetails" asp-route-id="@leaserInfo.ID" class="m-1">Edit</a>
                            </span>
                        </td>
                        <td>
                            <form asp-action="MarkAsLeased" method="post">
                                <input type="hidden" name="leaserId" value="@leaserInfo.ID" />
                                <button type="submit" class="btn btn-dark">Mark As Leased</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Leasers.Count() > 0)
    {
        <div class="row">
            <div page-model="@Model.PagingInfo" page-action="Index"
                 page-classes-enabled="true"
                page-class="btn" page-class-normal="btn-outline-dark"
                page-class-selected="btn-dark" 
                 class="btn-group pull-right m-1">
            </div>
        </div>
    }
<div>
