@model LeaserListViewModel

<nav class="nav navbar-dark bg-dark">
    <span class="navbar-brand text-center ml-2">Active Leasers</span>
    <ul class="nav ml-auto p-2">
        <li class="nav-item">
            <form method = "get" asp-action="Index" class="form-inline ml-2">
                <input type="text" placeholder="Search Leaser" name="leaserName" id="leaserId"
                       autocomplete="off"
                       required
                       onkeydown="if (event.keyCode == 13)
                    document.getElementById('btnSearch').click()" />
                <input type="submit" value="Search" id="btnSearch" style="visibility:hidden;width:0px" />
            </form>
        </li>
        <li class="nav-item">
            <a class="btn btn-light ml-2 p-1" asp-action="Create">Add Leaser</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light ml-2 p-1" asp-action="History">History</a>
        </li>
    </ul>
</nav>
    
<div class = "container-fluid">
    <div class="row">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Asset Type</th>
                    <th>Leased
                    <th />
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaserInfo in Model.Leasers)
                {
                    <tr id="rid_@leaserInfo.ID">
                        <td>@leaserInfo.Name</td>
                        <td>@leaserInfo.Address</td>
                        <td>@leaserInfo.AssetInfo.Type.ToString()</td>
                        <td>
                            @(leaserInfo.AssetInfo.IsLeased.HasValue &&
                        leaserInfo.AssetInfo.IsLeased.Value == true
                        ? "Yes" : "No")
                        </td>
                        <td>
                            <span>
                                <a class="btn-sm btn-dark" asp-action="Details" asp-route-id="@leaserInfo.ID">View</a>
                                <a class="btn-sm btn-dark m-1" asp-action="EditDetails" asp-route-id="@leaserInfo.ID" >Edit</a>
                                <a class="btn-sm btn-dark m-1" asp-action="LinkToRenter" asp-controller="Home" asp-route-id="@leaserInfo.ID" >Link</a>
                            </span>
                        </td>
                        <td>
                            <form>
                                <input type="hidden" name="leaserId" value="@leaserInfo.ID" />
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return function(event) {
                                    event.preventDefault();
                                    let rowId = 'rid_@leaserInfo.ID';
                                    let dataToSend = { leaserId: @leaserInfo.ID };
                                    let urlToPost = '@Url.Action("CancelLease")';
                                    postDataToUrlAndHideElementOnSuccess(rowId, dataToSend, urlToPost);
                                }(event)">Cancel Lease</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Leasers.Count() > 0)
    {
        <div class="row">
            <div page-model="@Model.PagingInfo" page-action="Index"
                 page-classes-enabled="true"
                page-class="btn" page-class-normal="btn-outline-dark"
                page-class-selected="btn-dark" 
                page-url-leaserName ="Model.CurrentLeaser"
                 class="btn-group pull-right m-1">
            </div>
        </div>
    }
</div>
